.card-container {
  width: 77px;
  height: 50px;
  margin: 2px 5px;
  position: relative;

  .chip {
    position: absolute;
    top: 23px;
    left: 8px;
    height: 30px;
    width: 30px;
    border-radius: 999px;
  }

  .card {
    transform: rotate(90deg);
  }
}

.bordered {
  border: 1px solid red;
}
