<h1 *ngIf="player">You are the {{player === 1 ? 'red' : 'blue'}} player.</h1>
<h2 *ngIf="winner">{{winner === 1 ? 'Red' : 'Blue'}} wins!</h2>
<h2 *ngIf="joining">Joining game...</h2>
<h2 *ngIf="lobbyFull">The lobby is full. Please try again later.</h2>
<h2>{{message}}</h2>
<h2 *ngIf="!cards && !joining">Waiting for game to start...</h2>
<div style="display: flex">
  <app-board [board]="board" [spaces]="spaces" [selectedCard]="selectedCard" *ngIf="board"></app-board>
  <div style="display: flex; flex-direction: column" *ngIf="board">
    <p>Your sequences: {{sequences}}</p>
    <p>Opponent's sequences: {{enemySequences}}</p>
  </div>
</div>
<app-card [cards]="cards" *ngIf="cards" (cardSelected)="cardSelected($event)"></app-card>
