# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Anand\sequence-hackathon\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
